body{width: 375px;margin: 0 auto;}
/* *{box-sizing:border-box;} */
.login{margin: 0 2px 0 3px}
li,a{list-style-type:none;text-decoration: none}
.margin{width: 375px;}
p{font-size: 14px;color: #a9a9a9;margin: 0;margin-top: 12px;text-align: left}
header{text-align: center}
header .off{margin:12px 0}
header img{width: 200px;height: 37px;}
main{margin-top: 48px;margin-bottom:24px;position: relative}
main .bp{width: 21px;height: 22px;overflow: hidden;position: absolute;top: -5px;left: 67px;}
main .bp div{float: left;width: 21px;height: 22px;background: url(../img/countrys.png) no-repeat;}
main .code{position: relative;}
main .Acode{
  float: left;
  position: absolute;
  top: 8px;
  left: 0px;
  margin-top: 2px
}
main .jt{
  height: 33px;
  width: 50px;
  /* border-bottom: 2px solid #eee; */
  border-right:8px solid #fff; 
  position: relative;
  top: -33px;
  text-align: left
}
main .jts{
  position: absolute;
  top: 0;
  left: 40px;
  top: 7px;
  width: 12px;
  margin-top: 8px;
}
main .jta{
  position: absolute;
  top: 0;
  left: 40px;
  top: 7px;
  width: 12px;
  margin-top: 8px;
}
main select{height: 24px;position: absolute;top: -8px;left: 90px;outline: none;border: none;-webkit-appearance:none;text-indent: 5px;z-index: 1 ;}
#ul{
  /* display:none; */
  text-align: left;
  margin-left: 0;
  position: absolute;
  /* border:1px solid #000; */
  box-shadow:#ddd 0px 0px 6px;
  border-radius: 3px;
  height: 350px;
  width: 178px;
  left: 0;
  top: 35px;
  overflow-y: auto;
  z-index: 10;
  background: #fff;
  padding: 0;
  /* scroll-behavior: auto 
   */
}
#ul li{
  width: 180px;
  /* background:url(../img/cty.png) no-repeat; */
  background-position: 3px 12px;
  padding: 8px 0;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
  text-indent: 10px
}
#ul::-webkit-scrollbar {/*滚动条整体样式*/
  width: 0px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 0px;
}
#ul::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.2);
}
#ul li:hover{
 background: #1478F0;
 color: #fff
}
#ul li i{
  font-style: normal
 }
 #ul li i:nth-child(2){
  float: right;
  margin-right:15px 
 }
main div{height: 62px;}
main .txt{outline: none;border-top:0;border-left:0;border-right: 0;height: 24px;width: 372px;font-size: 16px;padding: 2px;color: #2c3e50;}
main .tel{text-indent: 60px;padding-top: 5px}
main .txt-l{width: 268px;float: left;}
main .img{width: 101px;height: 34px;float: right;margin-top: -53px;cursor: pointer}
main .btn{border:0;background: #1478F0;width: 372px;height: 52px;text-align:center;font: 18px/52px '';color: #fff;border-radius: 5px;margin-top:24px;cursor: pointer;line-height: 28px}
main .pst{position: relative;}
main .tips{padding: 0;margin: 0;color: red;height: 18px;}
main .pst .obtain{border: none;font-size: 14px;position: absolute;right: 0;bottom: 21px;color: #1478F0;background-color: #fff;outline: none;cursor: pointer;}
footer{text-align:center;position: relative;}
footer p{font-size: 13px;text-align: center}
footer .language{position: absolute;top: 46px;right: 151px;}
footer select{height: 26px;font:  14px/26px ''}
#captcha {
  width: 372px;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  height: 92px;
  }
#wait {
    height: 42px;	
    width: 298px;	
    text-align: center;
    border-radius: 2px;	
    background-color: #F3F3F3;
    line-height: 42px
  }
#captcha .geetest_btn{
  position: absolute;
  height: 42px;	
  top:12px
}
.geetest_radar_tip_content,.geetest_reset_tip_content,.geetest_success_radar_tip_content{
  top:0;
  display: inline-block;
  width: 298px;	
  text-align: center;
  height: 42px;
  text-indent: -30px;
  line-height: 42px
}
.geetest_success_logo,.geetest_logo{
  pointer-events: none;
  cursor: default
}
.loginWay{
  font-size: 13px;
  float: right;
  margin: 5px 0 5px 8px;
  color: #1478F0;
}

.language a{
  color: #000;
  font-size:18px 
}
.language .active{
  color: #1478F0
}
.transition-box {
  width: 316px;
  height: 3px;
  border-radius: 4px;
  background-color: #409EFF;
  text-align: center;
  color: #fff;
  padding: 1px 0px;
  box-sizing: border-box;
  margin-right: 20px;
  position: absolute;
  top:50px ;
  right: -20px;
}